xml/src/main/resources/prov-20120110.xsd

<?xml version="1.0" encoding="utf-8"?>

<!-- authors: luc moreau

     *warning*
     transformation of the opm opmx schema into prov compatible.
     purely tentative at this stage. 

     In PROV-DM, all ids are qualified names, specified as prov:QualifiedName in PROV-N.
     In this schema, all ids are instead defined as xsd:QNames. The ProvToolbox
     implementation uses this schema in non-validating mode, so that
     prov:QualifiedNames are represented as java javax.xml.namespace.QName, and the xml tool properly
     manages the prefixes occurring in the prov:QualifiedNames.


     ISSUES to tackle:
     - How do we support internationalization? 
       There is explicit support for internationalization for label.
       How can we support xml:lang for any string, as per prov-dm?

  -->


<xs:schema targetNamespace="http://www.w3.org/ns/prov#"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:prov="http://www.w3.org/ns/prov#"
           xmlns:cu="http://www.w3.org/1999/xhtml/datatypes/"
           xmlns:xml="http://www.w3.org/XML/1998/namespace"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">



  <xs:import namespace="http://www.w3.org/1999/xhtml/datatypes/" />
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" 
             schemaLocation="xml.xsd"/>

  <!-- Component 1 -->
  
  <xs:element name="entity" type="prov:Entity"/>
  <xs:complexType name="Entity">
    <xs:sequence>
      <xs:element ref="prov:label" minOccurs="0" maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:location"  minOccurs="0" maxOccurs="unbounded"/>
 
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>  

  <xs:element name="activity" type="prov:Activity"/>
  <xs:complexType name="Activity">
    <xs:sequence>
      <xs:element name="startTime"    type="xs:dateTime" minOccurs="0"/> 
      <xs:element name="endTime"      type="xs:dateTime" minOccurs="0"/> 
      <xs:element ref="prov:label" minOccurs="0" maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/> 
      <xs:element ref="prov:location"  minOccurs="0" maxOccurs="unbounded"/>
      
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>
  

  <xs:complexType name="Used">
    <xs:sequence>
      <xs:element name="time"     type="xs:dateTime" minOccurs="0"/>
      <xs:element name="activity" type="prov:ActivityRef"/>
      <xs:element name="entity"   type="prov:EntityRef"/>
      <xs:element ref="prov:label" minOccurs="0" maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:location"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:role"  minOccurs="0" maxOccurs="unbounded"/> 
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>
  
  <xs:complexType name="WasGeneratedBy">
    <xs:sequence>
      <xs:element name="time"     type="xs:dateTime" minOccurs="0"/>
      <xs:element name="entity"   type="prov:EntityRef"/>
      <xs:element name="activity" type="prov:ActivityRef" minOccurs="0"/>
      <xs:element ref="prov:label" minOccurs="0" maxOccurs="unbounded"/> 
      <xs:element ref="prov:type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:location"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:role"  minOccurs="0" maxOccurs="unbounded"/> 

      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <xs:complexType name="WasStartedBy">
    <xs:sequence>
      <xs:element name="time"     type="xs:dateTime" minOccurs="0"/>
      <xs:element name="activity" type="prov:ActivityRef"/>
      <xs:element name="trigger"  type="prov:EntityRef" minOccurs="0"/>
      <xs:element name="starter"  type="prov:ActivityRef" minOccurs="0"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:location"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:role"  minOccurs="0" maxOccurs="unbounded"/> 
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <xs:complexType name="WasEndedBy">
    <xs:sequence>
      <xs:element name="time"     type="xs:dateTime" minOccurs="0"/>
      <xs:element name="activity" type="prov:ActivityRef"/>
      <xs:element name="trigger"  type="prov:EntityRef"  minOccurs="0"/>
      <xs:element name="ender"    type="prov:ActivityRef" minOccurs="0"/>
      <xs:element ref="prov:label" minOccurs="0" maxOccurs="unbounded"/> 
      <xs:element ref="prov:type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:location"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:role"  minOccurs="0" maxOccurs="unbounded"/> 
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <xs:complexType name="WasInvalidatedBy">
    <xs:sequence>
      <xs:element name="time"     type="xs:dateTime" minOccurs="0"/>
      <xs:element name="entity"   type="prov:EntityRef"/>
      <xs:element name="activity" type="prov:ActivityRef" minOccurs="0"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:location"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:role"      minOccurs="0" maxOccurs="unbounded"/> 
      <xs:any namespace="##other"      minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>


  <xs:complexType name="WasInformedBy">
    <xs:sequence>
      <xs:element name="time"    type="xs:dateTime" minOccurs="0"/>
      <xs:element name="effect"  type="prov:ActivityRef"/>
      <xs:element name="cause"   type="prov:ActivityRef"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <!-- Component 2 -->

  
  <xs:complexType name="WasDerivedFrom">
    <xs:sequence>
      <xs:element name="generation"       type="prov:DependencyRef" minOccurs="0"/>
      <xs:element name="usage"            type="prov:DependencyRef" minOccurs="0"/>
      <xs:element name="activity"         type="prov:ActivityRef" minOccurs="0"/>
      <xs:element name="generatedEntity"  type="prov:EntityRef"/>
      <xs:element name="usedEntity"       type="prov:EntityRef"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <xs:complexType name="WasRevisionOf">
    <xs:sequence>
      <xs:element name="generation" type="prov:DependencyRef" minOccurs="0"/>
      <xs:element name="usage"      type="prov:DependencyRef" minOccurs="0"/>
      <xs:element name="activity"   type="prov:ActivityRef" minOccurs="0"/>
      <xs:element name="newer"      type="prov:EntityRef"/>
      <xs:element name="older"      type="prov:EntityRef"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <xs:complexType name="WasQuotedFrom">
    <xs:sequence>
      <xs:element name="generation" type="prov:DependencyRef" minOccurs="0"/>
      <xs:element name="usage"      type="prov:DependencyRef" minOccurs="0"/>
      <xs:element name="activity"   type="prov:ActivityRef" minOccurs="0"/>
      <xs:element name="quote"      type="prov:EntityRef"/>
      <xs:element name="original"   type="prov:EntityRef"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <xs:complexType name="HadPrimarySource">
    <xs:sequence>
      <xs:element name="generation" type="prov:DependencyRef" minOccurs="0"/>
      <xs:element name="usage"      type="prov:DependencyRef" minOccurs="0"/>
      <xs:element name="activity"   type="prov:ActivityRef" minOccurs="0"/>
      <xs:element name="derived"    type="prov:EntityRef"/>
      <xs:element name="source"     type="prov:EntityRef"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other"  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <!-- Component 3 -->
  
  <xs:element name="agent" type="prov:Agent"/>
  <xs:complexType name="Agent">
    <xs:sequence>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other"  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <xs:complexType name="WasAssociatedWith">
    <xs:sequence>
      <xs:element name="activity" type="prov:ActivityRef"/>
      <xs:element name="agent"    type="prov:AgentRef"/>
      <xs:element name="plan"     type="prov:EntityRef" minOccurs="0"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:role"  minOccurs="0" maxOccurs="unbounded"/> 
      <xs:any namespace="##other"  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>


  <xs:complexType name="WasAttributedTo">
    <xs:sequence>
      <xs:element name="entity" type="prov:EntityRef"/>
      <xs:element name="agent"    type="prov:AgentRef"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other"  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <xs:complexType name="ActedOnBehalfOf">
    <xs:sequence>
      <xs:element name="subordinate" type="prov:AgentRef"/>
      <xs:element name="responsible" type="prov:AgentRef"/>
      <xs:element name="activity"    type="prov:ActivityRef"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other"  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>


  <xs:complexType name="WasInfluencedBy">
    <xs:sequence>
      <xs:element name="influencee"     type="prov:AnyRef"/>
      <xs:element name="influencer"     type="prov:AnyRef"/>
      <xs:element ref="prov:label" minOccurs="0" maxOccurs="unbounded"/> 
      <xs:element ref="prov:type" minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <!-- Component 4 -->

  <!-- Component 5 -->

  <xs:complexType name="AlternateOf">
    <xs:sequence>
      <xs:element name="entity2"   type="prov:EntityRef"/>
      <xs:element name="entity1"   type="prov:EntityRef"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SpecializationOf">
    <xs:sequence>
      <xs:element name="specializedEntity"   type="prov:EntityRef"/>
      <xs:element name="generalEntity"   type="prov:EntityRef"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MentionOf">
    <xs:sequence>
      <xs:element name="specializedEntity" type="prov:EntityRef"/>
      <xs:element name="generalEntity"     type="prov:EntityRef"/>
      <xs:element name="bundle"            type="prov:EntityRef" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  
  <!-- Component 6 -->

  <xs:complexType name="DerivedByInsertionFrom">
    <xs:sequence>
      <xs:element name="after"           type="prov:EntityRef"/>
      <xs:element name="before"          type="prov:EntityRef"/>
      <xs:element name="entry"           type="prov:Entry" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other"  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <xs:complexType name="DerivedByRemovalFrom">
    <xs:sequence>
      <xs:element name="after"    type="prov:EntityRef"/>
      <xs:element name="before"   type="prov:EntityRef"/>
      <xs:element name="key"      type="xs:anySimpleType" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other"  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <xs:complexType name="CollectionMemberOf">
    <xs:sequence>
      <xs:element name="entity"          type="prov:EntityRef"/>
      <xs:element name="complete"        type="xs:boolean"/>
      <xs:element name="member"          type="prov:Entity" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other"  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>

  <xs:complexType name="DictionaryMemberOf">
    <xs:sequence>
      <xs:element name="entity"          type="prov:EntityRef"/>
      <xs:element name="complete"        type="xs:boolean"/>
      <xs:element name="entry"           type="prov:Entry" minOccurs="1" maxOccurs="unbounded"/>
      <xs:element ref="prov:label" minOccurs="0"  maxOccurs="unbounded"/> 
      <xs:element ref="prov:type"  minOccurs="0" maxOccurs="unbounded"/>
      <xs:any namespace="##other"  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>


  <xs:element name="key"  type="xs:anySimpleType"/>

  <xs:complexType name="Entry">
    <xs:sequence>
      <xs:element ref="prov:key"  minOccurs="1" maxOccurs="1"/>
      <xs:element name="entity"   type="prov:EntityRef" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="InternationalizedString">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>    


   <!--
       Typed literals are encoded by means
       of xsi:type that represent the prov:datatype.

       -->
  
  <xs:element name="label"    type="prov:InternationalizedString"/>
  <xs:element name="role"     type="xs:anySimpleType"/>
  <xs:element name="type"     type="xs:anySimpleType"/>
  <xs:element name="location" type="xs:anySimpleType"/>
  <xs:element name="value"    type="xs:anySimpleType"/>

  <!-- See comment in preamble.
       These should be prov:QualifiedName
       but instead are xsd:QName for tools to process them -->

  <xs:attribute name="id"  type="xs:QName"/>
  <xs:attribute name="ref" type="xs:QName"/>

  <xs:complexType name="ActivityRef">
    <xs:attribute ref="prov:ref"/>
  </xs:complexType>
  <xs:complexType name="EntityRef">
    <xs:attribute ref="prov:ref"/>
  </xs:complexType>
  <xs:complexType name="AgentRef">
    <xs:attribute ref="prov:ref"/>
  </xs:complexType>
  
  <xs:complexType name="DependencyRef">
    <xs:attribute ref="prov:ref"/>
  </xs:complexType>
  
  <xs:complexType name="AnyRef">
    <xs:attribute ref="prov:ref"/>
  </xs:complexType>

  <xs:complexType name="Dependencies">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">

            <xs:element name="used"                 type="prov:Used"/>
            <xs:element name="wasGeneratedBy"       type="prov:WasGeneratedBy"/>
            <xs:element name="wasStartedBy"         type="prov:WasStartedBy"/>
            <xs:element name="wasEndedBy"           type="prov:WasEndedBy"/>
            <xs:element name="wasInvalidatedBy"     type="prov:WasInvalidatedBy"/>
            <xs:element name="wasInformedBy"        type="prov:WasInformedBy"/>


            <xs:element name="wasDerivedFrom"       type="prov:WasDerivedFrom"/>
            <xs:element name="wasRevisionOf"        type="prov:WasRevisionOf"/>
            <xs:element name="wasQuotedFrom"        type="prov:WasQuotedFrom"/>
            <xs:element name="hadPrimarySource"     type="prov:HadPrimarySource"/>

            <xs:element name="wasAttributedTo"      type="prov:WasAttributedTo"/>
            <xs:element name="wasAssociatedWith"    type="prov:WasAssociatedWith"/>
            <xs:element name="actedOnBehalfOf"      type="prov:ActedOnBehalfOf"/>
            <xs:element name="wasInfluencedBy"      type="prov:WasInfluencedBy"/>

            <xs:element name="alternateOf"          type="prov:AlternateOf"/>
            <xs:element name="specializationOf"     type="prov:SpecializationOf"/>
            <xs:element name="mentionOf"            type="prov:MentionOf"/>

            <xs:element name="derivedByInsertionFrom" type="prov:DerivedByInsertionFrom"/>
            <xs:element name="derivedByRemovalFrom"   type="prov:DerivedByRemovalFrom"/>
            <xs:element name="collectionMemberOf"     type="prov:CollectionMemberOf"/>
            <xs:element name="dictionaryMemberOf"     type="prov:DictionaryMemberOf"/>

      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  
  
  <!-- BUNDLES -->
  
  <xs:element name="bundle" type="prov:Bundle">
    <xs:annotation>
      <xs:documentation>A set of assertions about the provenance of things</xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <!-- a wrapper element for all records, used in Bundle or NamedBundle -->
  <xs:element name="records" type="prov:Records"/>
  <xs:complexType name="Records">
    <xs:sequence>
      <xs:element ref="prov:activity" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:entity"   minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="prov:agent"    minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="dependencies" type="prov:Dependencies" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Bundle">
    <xs:sequence>
      <xs:element ref="prov:records"  minOccurs="1" maxOccurs="1"/>
      <xs:element name="bundle" type="prov:NamedBundle" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NamedBundle">
    <xs:sequence>
      <xs:element ref="prov:records"  minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
    <xs:attribute ref="prov:id"/>
  </xs:complexType>
  
  
  
  
  
  
  
  
  
</xs:schema>
